<section class="newsletter-box__container">
    <div class="newsletter-box">
        <p class="newsletter-box__call-to-action">
            Sign up to our newsletter for the latest.
        </p>

        <div class="newsletter-box__form">

            <input type="email" name="email-field" id="newsletter-signup" class="newsletter-box__input" placeholder="Enter your email address...">
            
            <input type="submit" value="Sign Up" class="newsletter-box__submit">
        </div>
    </div>
</div>