{% load cms_tags %}

<div class="typographic-sample" style="font-family: {{instance.font_family}}">
    
    <div class="typographic-sample__details">
        <h1 class="typographic-sample__name">{{instance.font_family}}</h1>
        <div class="typographic-sample__weight--regular">Regular</div>
        <div class="typographic-sample__weight--medium">Medium</div>
        <div class="typographic-sample__weight--bold">Bold</div>
    </div>
    
    <div class="typographic-sample__samples">
        <div class="typographic-sample__large-letter">Aa</div>
        <div class="typographic-sample__alphabet--capital">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
        <div class="typographic-sample__alphabet--lower">abcdefghijklmnopqrstuvwxyz</div>
        <div class="typographic-sample__numbers">012456789</div>
    </div>

</div>