@import 'variables';
@import 'typography';

.color-swatch {
    font-family: $fontPrimary;
    font-weight: $fontPrimaryRegular;
    width: 240px;
}

.color-swatch__swatch {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.color-swatch__sass-name,
.color-swatch__color-label {
    @include CaptionSmall();

    display: inline-block;
    margin-right: 10px;
}