@import 'variables';
@import 'typography';

.color-swatch {
    font-family: $fontPrimary;
    font-weight: $fontPrimaryRegular;
    
    margin-right: 1.25rem;
    width: 15rem;

    flex-basis: 1;
}

.color-swatch__swatch {
    width: 100%;
    height: 3.125rem;
    margin-bottom: 0.625rem;
}

.color-swatch__sass-name,
.color-swatch__color-label {
    @include CaptionSmall();

    display: inline-block;
    margin-right: 0.625rem;
}