@import 'variables';
@import 'typography';

.hero-banner {
    width: 100%;
    background-color: $colorNavyMedium;
    z-index: 1;
    height: 518px;
    
    // parallax 
    perspective: 1px;
    overflow: hidden;

    z-index: 1;

    @include Tablet {
        height: 430px;
    }
}

.hero-banner__content {
    max-width: 100%;
    width: $siteMaxWidth;
    min-width: $siteMinWidth;
    height: 518px;

    margin: 0 auto;
    position: relative;

    overflow: visible;

    transform-style: preserve-3d;
}

.circle-outline {
    position: absolute;
    z-index: 50;
    
    width: 167px;
    height: 167px;
    border-radius: 50%;
    border: 1px solid $colorLightBlue;

    @include Mobile {
        display: none;
    }
    
}

.circle-outline--1 {
    @extend .circle-outline;
    
    top: 82px;
    left: 7px;
}

.circle-outline--2 {
    @extend .circle-outline;

    top: 160px;
    left: 648px;

    @include Tablet {
        display: none;
    }
}

.hero-banner__thick-line--top-left {
    position: absolute;
    top: 0px;
    left: -757px;
    
    width: 800px;
    height: 5px;
    transform: rotate(29deg);

    background-color: $colorBrandLight;

    z-index: 25;

    @include Tablet {
        display: none;
    }
}

.hero-banner__thick-line--bottom-right {
    position: absolute;
    top: 485px;
    left: 310px;

    width: 400px;
    height: 5px;
    transform: rotate(29deg);

    background-color: $colorBrandLight;

    z-index: 25;

    @include Tablet {
        display: none;
    }
}

.hero-banner__thin-line--bottom-left {
    position: absolute;
    top: 0px;
    left: -2050px;

    width: 2285px;
    height: 5px;
    transform: rotate(22deg);

    background-color: $colorLightBlue;

    z-index: 25;
    
    @include Tablet {
        display: none;
    }
}

.hero-banner__thin-line--bottom-right {
    position: absolute;
    top: 493px;
    left: 216px;

    width: 200px;
    height: 5px;
    transform: rotate(22deg);

    background-color: $colorLightBlue;

    z-index: 25;

    @include Tablet {
        display: none;
    }
}

.hero-banner__collage-circle {
    position: absolute;
    $scale: 290px;

    width: $scale;
    height: $scale;

    border-radius: 50%;
    overflow: hidden;

    opacity: 0.75;

    z-index: 25;

    > img {
        width: 100%;
        height: 100%;
    }

    @include Tablet {
        height: 210px;
        width: 210px;
    }
}


.hero-banner__collage-circle--top-left {
    @extend .hero-banner__collage-circle;
    
    top: 40px;
    left: 864px;

    @include Tablet {
        left: 360px;
    }

    @include Mobile {
        left: 40px;
    }
}

.hero-banner__collage-circle--top-right {
    @extend .hero-banner__collage-circle;

    top: 40px;
    left: 1198px;

    @include Tablet {
        left: 620px;
    }

    @include Mobile {
        left: 280px;
    }
}

.hero-banner__collage-circle--bottom-left {
    @extend .hero-banner__collage-circle;

    width: 240px;
    height: 240px;

    top: 338px;
    left: 754px;

    @include  Tablet {
        width: 210px;
        height: 210px;
        
        top: 280px;
        left: 220px;
    }

    @include Mobile {
        width: 180px;
        height: 180px;

        left: -60px;
    }
}

.hero-banner__collage-circle--bottom-right {
    @extend .hero-banner__collage-circle;

    width: 276px;
    height: 276px;

    top: 314px;
    left: 1046px;

    @include Tablet {
        width: 210px;
        height: 210px;
        
        left: 500px;
        top: 280px;
    }

    @include Mobile {
        width: 200px;
        height: 200px;

        top: 255px;
        left: 170px;
    }
}

.hero-banner__hero-copy {
    @include displayHeaderLarge() {
        color: $colorLight;
    };
    
    position: absolute;
    
    top: 170px;
    left: 75px;
    
    width: 550px;
    height: 180px;
    
    z-index: 51;

    @include Tablet {
        width: 216px;
        height: 152px;
    }

    @include Mobile {
        top: 218px;
        left: 20px;
    }
}