@import 'variables';
@import 'typography';

.hero-banner {
    width: 100%;
    background-color: $colorNavyMedium;
    z-index: 1;
    height: 32.375rem;
    
    // parallax 
    perspective: 1px;
    overflow: hidden;

    z-index: 1;

    @include Tablet {
        height: 26.875rem;
    }
}

.hero-banner__content {
    max-width: 100%;
    width: $siteMaxWidth;
    min-width: $siteMinWidth;
    height: 32.375rem;

    margin: 0 auto;
    position: relative;

    overflow: visible;

    transform-style: preserve-3d;
}

.circle-outline {
    position: absolute;
    z-index: 50;
    
    width: 10.4375rem;
    height: 10.437rem;
    border-radius: 50%;
    border: 1px solid $colorLightBlue;

    @include Mobile {
        display: none;
    }
    
}

.circle-outline--1 {
    @extend .circle-outline;
    
    top: 5.125rem;
    left: 0.4375rem;
}

.circle-outline--2 {
    @extend .circle-outline;

    top: 10rem;
    left: 40.5rem;

    @include Tablet {
        display: none;
    }
}

.hero-banner__thick-line--top-left {
    position: absolute;
    top: 0px;
    left: -47.3125rem;
    
    width: 50rem;
    height: 0.3125rem;
    transform: rotate(29deg);

    background-color: $colorBrandLight;

    z-index: 25;

    @include Tablet {
        display: none;
    }
}

.hero-banner__thick-line--bottom-right {
    position: absolute;
    top: 30.3125rem;
    left: 19.375rem;

    width: 25rem;
    height: 0.3125rem;
    transform: rotate(29deg);

    background-color: $colorBrandLight;

    z-index: 25;

    @include Tablet {
        display: none;
    }
}

.hero-banner__thin-line--bottom-left {
    position: absolute;
    top: 0px;
    left: -128.125rem;

    width: 142.8125rem;
    height: 0.3125rem;
    transform: rotate(22deg);

    background-color: $colorLightBlue;

    z-index: 25;
    
    @include Tablet {
        display: none;
    }
}

.hero-banner__thin-line--bottom-right {
    position: absolute;
    top: 30.8125rem;
    left: 13.5rem;

    width: 12.5rem;
    height: 0.3125rem;
    transform: rotate(22deg);

    background-color: $colorLightBlue;

    z-index: 25;

    @include Tablet {
        display: none;
    }
}

.hero-banner__collage-circle {
    position: absolute;
    $scale: 18.125rem;

    width: $scale;
    height: $scale;

    border-radius: 50%;
    overflow: hidden;

    opacity: 0.75;

    z-index: 25;

    > img {
        width: 100%;
        height: 100%;
    }

    @include Tablet {
        height: 13.125rem;
        width: 13.125rem;
    }
}


.hero-banner__collage-circle--top-left {
    @extend .hero-banner__collage-circle;
    
    top: 2.5rem;
    left: 54rem;

    @include Tablet {
        left: 22.5rem;
    }

    @include Mobile {
        left: 2.5rem;
    }
}

.hero-banner__collage-circle--top-right {
    @extend .hero-banner__collage-circle;

    top: 2.5rem;
    left: 74.875rem;

    @include Tablet {
        left: 38.75rem;
    }

    @include Mobile {
        left: 17.5rem;
    }
}

.hero-banner__collage-circle--bottom-left {
    @extend .hero-banner__collage-circle;

    width: 15rem;
    height: 15rem;

    top: 21.125rem;
    left: 47.125rem;

    @include  Tablet {
        width: 13.125rem;
        height: 13.125rem;
        
        top: 17.5rem;
        left: 13.75rem;
    }

    @include Mobile {
        width: 11.25rem;
        height: 11.25rem;

        left: -3.75rem;
    }
}

.hero-banner__collage-circle--bottom-right {
    @extend .hero-banner__collage-circle;

    width: 17.25rem;
    height: 17.25rem;

    top: 19.625rem;
    left: 65.375rem;

    @include Tablet {
        width: 16.125;
        height: 16.125;
        
        left: 31.25rem;
        top: 17.5rem;
    }

    @include Mobile {
        width: 12.5rem;
        height: 12.5rem;

        top: 15.9375rem;
        left: 10.625rem;
    }
}

.hero-banner__hero-copy {
    @include displayHeaderLarge() {
        color: $colorLight;
    };
    
    position: absolute;
    
    top: 10.625rem;
    left: 4.68rem;
    
    width: 34.375rem;
    height: 11.25rem;
    
    z-index: 51;

    @include Tablet {
        width: 16.5rem;
        height: 9.5rem;
    }

    @include Mobile {
        top: 13.625rem;
        left: 1.25rem;
    }
}