/**********************
Layout

This file contains various layout options. Things like full width page containers that shrink to a minimum size,
full width content sections, sidebars, etc. 

***********************/


.container--full-width {
    width: 100%;
    min-width: $siteMinWidth;
    
    margin: 0 auto;
    padding: 0;
}

.section--full-width {
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

.section__content {
    max-width: 100%;
    width: $siteMaxWidth;
    margin: 0 auto;
}

.section--constrained {

}