/**********************
Layout

This file contains various layout options. Things like full width page containers that shrink to a minimum size,
full width content sections, sidebars, etc. 

***********************/


.container--full-width {
    max-width: 100%;
    width: 1300px;
    min-width: 280px;
    
    margin: 0 auto;
}

.section--full-width {

}

.section--constrained {

}