/*****************
Typography
*****************/
@import 'variables';
@import 'layout';

@font-face {
    font-family: 'roboto';
    src: url('/static/font/Roboto-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'roboto';
    src: url('/static/font/Roboto-Medium.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'roboto';
    src: url('/static/font/Roboto-Bold.ttf');
    font-weight: 700;
}


/*************************************
    Font Style mixins

    usage: 
        @include displayHeaderLarge();

    override a rule in mixin:
        @include displayHeaderLarge { font-size $fontSizeXS; }

*************************************/
// These names match the ones found in the blink ux doc "Typography 2"

@mixin displayHeaderLarge (){
    font-family: $fontPrimary;
    font-size: $fontSizeXXXL;
    line-height: 1.2;
    color: $colorNavyMedium;
    font-weight: 400;
    
    @include Tablet {
        font-size: $fontSizeXL;
    }

    @content;
}

@mixin headerMedium  {
    font-family: $fontPrimary;
    font-size: $fontSizeXXL;
    line-height: 1.3;
    color: $colorNavyMedium;
    font-weight: 400;

    @content;
}

@mixin titleMediumBold {
    // AvenirNext-Demibold / 26px
    font-family: $fontPrimary;
    font-size: $fontSizeXL;
    font-weight: $fontPrimaryBold;
    line-height: 1.23;
    color: $colorNavyMedium;

    @include Tablet {
        font-size: $fontSizeL;
    }

    @content;
}

@mixin titleMedium {
    // AvenirNext-Medium / 26px
    font-family: $fontPrimary;
    font-size: $fontSizeXL;
    font-weight: $fontPrimaryMedium;
    line-height: 1.23;
    color: $colorNavyMedium;

    @include Tablet {
        font-size: $fontSizeL;
    }

    @content;
}

@mixin titleSmallUppercase {
    // Roboto-Bold / 16px
    font-family: $fontSecondary;
    font-size: $fontSizeM;
    font-weight: $fontSecondaryBold;
    line-height: 1.25;
    color: $colorNavyMedium;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    @content;
}

@mixin titleSmall {
    // Roboto-Bold / 16px
    font-family: $fontSecondary;
    font-size: $fontSizeM;
    font-weight: $fontSecondaryBold;
    line-height: 1.25;
    letter-spacing: 0.5px;
    color: $colorNavyMedium;
}

@mixin bodyLarge {
    // Roboto-Regular / 16px
    font-family: $fontSecondary;
    font-size: $fontSizeL;
    font-weight: $fontSecondaryRegular;
    line-height: 1.65;
    letter-spacing: 0.3px;
    color: $colorNavyMedium;
}

@mixin bodyMedium {
    // Roboto-Regular / 14px
    font-family: $fontSecondary;
    font-size: $fontSizeS;
    font-weight: $fontSecondaryRegular;
    line-height: 1.71;
    letter-spacing: 0.3px;
    color: $colorNavyMedium;
}

@mixin descriptionSmall {
    // Roboto-Regular / 14px
    font-family: $fontSecondary;
    font-size: $fontSizeS;
    font-weight: $fontSecondaryRegular;
    line-height: 1.43;
    letter-spacing: 0.3px;
    color: $colorNavyMedium;

    @content;
}

@mixin captionSmall {
    // Roboto-Regular / 12px;
    font-family: $fontSecondary;
    font-size: $fontSizeXS;
    font-weight: $fontSecondaryRegular;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: $colorNavyMedium;
}

h1 {
    @include displayHeaderLarge();
}

h2 {
}

h3 {
    
}

h4 {
    @include titleSmall();
}

h5 {

}

label, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.header-medium {
    @include headerMedium();
}

.display-header-large {
    @include displayHeaderLarge();
}

.title-medium-bold {
    @include titleMediumBold();
}

.title-medium {
    @include titleMedium();
}

.title-small-uppercase {
    @include titleSmallUppercase();
}

.title-small {
    @include titleSmall();
}

.body-large {
    @include bodyLarge();
}

.body-medium {
    @include bodyMedium();
}

.description-small {
    @include descriptionSmall();
}

.caption-small {
    @include captionSmall();
}